<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-{% if site.resume_theme %}{{ site.resume_theme }}{% endif %}">
    <div class="wrapper" itemscope itemtype="http://schema.org/Person">
      <p><a href="/index_en.html">English</a></p>

      <header class="page-header">

        <!-- You can turn off the avatar in _config.yml by setting to false -->
        {% if site.resume_avatar == 'true' %}
        <img src="images/profile_takahashi.jpg" alt="my photo" class="avatar" itemprop="image">
        {% endif %}

        <!-- Your name is defined in the _config.yml file -->
        <h1 class="header-name" itemprop="name">{{ site.resume_name_ja }}</h1>

        <div class="title-bar">

          <!-- Your title is also defined in the _config.yml file -->
          <h2 class="header-title" itemprop="jobTitle">{{ site.resume_title }}</h2>

          <!-- This is the markup for the icon links; moved out to an include because it's very verbose, and you shouldn't ever need to edit the markup (unless you want to re-order the icons); if you want to customize which links appear, define them in the _config.yml file -->
          {% include icon-links.html %}
        </div>

        <div class="executive-summary" itemprop="description">
          <p>長岡技術科学大学電子情報工学専攻修士2年です。現在、自然言語処理研究室で言語処理に関する研究およびツール開発を行っています。なお、ページをこちらへ移行中です。(www.jnlp.org/takahashiとほぼ同じ内容)</p>
          <p>email: takahashi at jnlp.org</p>
        </div>

        {% if site.resume_looking_for_work == 'yes' %}
        <a href="mailto:{{ site.resume_contact_email }}" class="contact-button" itemprop="email">Contact me</a>
        {% elsif site.resume_looking_for_work == 'no' %}
        <a class="contact-button not-looking">I'm not looking for work right now.</a>
        {% else %}
        {% endif %}

      </header>

      <section class="content-section">
        <header class="section-header">
          <h2>興味関心のある分野</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li>日本語処理</li>
            <li>ベトナム語処理</li>
            <li>自然言語処理ツールの開発</li>
            <li>単語分割や品詞付与などの自然言語処理の基盤技術の研究開発</li>
          </ul>
        </div>

      </section>

      <section class="content-section">
        <header class="section-header">
          <h2>Publications</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">国際会議</h4>
          <ul class="resume-item-list">
            <li>Kazuhide Yamamoto and <u>Kanji Takahashi</u>. Japanese Orthographical Normalization Do Not Work for Statistical Machine Translation. Proceedings of the International Conference on Asian Language Processing (IALP 2016), (2016.11 scheduled)</li>
            <li><u>Kanji Takahashi</u> and Kazuhide Yamamoto. Fundamental Tools and Resource is Available for Vietnamese Analysis. Proceedings of the International Conference on Asian Language Processing (IALP 2016), (2016.11scheduled)</li>
            <li>Kazuhide Yamamoto, Yuki Miyanishi, <u>Kanji Takahashi</u>, Yoshiki Inomata, Yuki Mikami and Yuta Sudo. What We Need is Word, Not Morpheme; Constructing Word Analyzer for Japanese. Proceedings of the International Conference on Asian Language Processing (IALP 2015), pp.49-52 (2015.10)</li>
            <li>Kazuhide Yamamoto and <u>Kanji Takahashi</u>. Construction of Japanese Semantically Compatible Words Resource. Proceedings of the International Conference on Asian Language Processing (IALP 2015), pp.61-64 (Oct 2015, scheduled) </li>
          </ul>

          <h4 class="resume-item-details">国内会議</h4>
          <ul class="resume-item-list">
            <li>山本 和英, <u>高橋 寛治</u>, 桾澤 優希, 西山 浩気. 日本語解析システム「雪だるま」第2報～進捗報告と活用形態素の導入～. 電子情報通信学会 テキストマイニングシンポジウム, 信学技報, Vol.116, No.213, pp.63-68 (2016.9)</li>
            <li>西山 浩気, 山本 和英, <u>高橋 寛治</u>. 日本語解析システム「雪だるま」における表記ゆれのまとめあげ. NLP若手の会 第11回シンポジウム, (ポスター発表P21) (2016.8)</li>
            <li>山本 和英, <u>高橋 寛治</u>, 桾澤 優希. 日本語支援動詞構文の述部に対するサ変動詞への換言. 言語処理学会第22回年次大会, (2016.3)</li>
            <li>山本 和英, <u>高橋 寛治</u>, 西山 浩気. 動詞-名詞対応辞書の構築と敬語の常体への換言. 言語処理学会第22回年次大会, (2016.3)</li>
            <li>山本 和英, 宮西 由貴, <u>高橋 寛治</u>, 猪俣 慶樹, 須戸 悠太, 三上 侑城. 日本語解析システム「雪だるま」～単語解析部の設計思想～. 電子情報通信学会 テキストマイニングシンポジウム, 信学技報, Vol.115, No.222, pp.13-18 (2015.9)</li>
            <li>山本和英, <u>高橋寛治</u>. 語彙統制のための同義語集合の資源化. 電子情報通信学会 テキストマイニングシンポジウム, 信学技報, , Vol.115, No.222, pp.7-12 (2015.9)</li>
          </ul>

          <h4 class="resume-item-details">口頭発表ほか</h4>
          <ul class="resume-item-list">
            <li>Kazuhide Yamamoto and <u>Kanji Takahashi</u>. Japanese Orthographical Normalization Does Not Work for Statistical Machine Translation. The 16th China-Japan Natural Language Processing Collaboration Promotion Conference (CJNLP 2016), (2016.9)</li>
            <li>阿南高専再生可能エネルギー研究会の小水力発電の取り組みについて, 第３回全国小水力発電サミットin岐阜「小水力甲子園～大学生・高専生・高校生交流会～ 」, 2013.2</li>
            <li><u>Kanji Takahashi</u>, Tatsuji Tanaka and Hiroshi Uno, 阿南高専再生可能エネルギー研究会の小水力発電の取り組みについて, Japan-Taiwan Symposium on intelligent Green and Orange (iGO) Technology, 2012.12</li>
            <li>第９回全国高等専門学校デザインコンペティション2012in小山 「波力・風力発電でスマート漁業」, 2012.11, 環境デザインコンペティション部門 審査員特別賞</li>
            <li>「小水力発電でものづくり力強化と地域連携を図る研究会活動」, 低炭素杯2012, 2012.2</li>
          </ul>
        </div>

      </section>

      <section class="content-section">
        <header class="section-header">
          <h2>開発しているツール・資源・デモ</h2>
        </header>

        <p>ツール開発が好きです。</p>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="http://snowman.jnlp.org/english" >日本語解析システム雪だるま</a></li>
            <li><a href="http://snowman.jnlp.org/n-gram_tool" >n-gram作成ツール</a> </li>
            <li><a href="http://www.jnlp.org/SNOW/D9" >SNOW D9:動詞名詞対応辞書</a></li>
            <li><a href="http://www.jnlp.org/SNOW/T10" >SNOW T10:KFTT日本語表記統制テキスト</a></li>
            <li><a href="https://github.com/kanjirz50/web-nlp-interface" >言語処理研究成果Webデモ作成のためのテンプレート</a></li>
            <li><a href="http://160.16.58.116/vietnamese/morph" >SVMによるベトナム語形態素解析器</a></li>
            <li><a href="http://160.16.58.116/vietnamese/morph_crf" >CRFによるベトナム語形態素解析器</a></li>
            <li><a href="http://160.16.58.116/vietnamese/tone" >ベトナム語声調復元ツール</a></li>
            <li><a href="https://github.com/kanjirz50/viet-orthographic-normalization" >ベトナム語前処理スクリプト</a></li>
            <li><a href="https://github.com/kanjirz50/vnlp-outline" >ベトナム語ツールまとめ</a></li>
            <li><a href="https://github.com/nut-jnlp/web-word2vec-demo" >word2vecデモ</a></li>
          </ul>
        </div>

      </section>



      {% if site.resume_section_experience %}
      <!-- begin Experience -->
      <section class="content-section">

        <header class="section-header">
          <h2>Experience</h2>
        </header>

        <!-- Duplicate these resume-item elements and edit accordingly for each job you want to add here -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Teaching assistant</h3>
          <ul class="resume-item-list">
            <li></li>
            <li>Fell asleep rarely</li>
            <li>Left promptly at end of day (sometimes earlier)</li>
          </ul>
          <p class="resume-item-copy">If you're going to copy paste markup, or edit it, just be sure to keep the appropriate classnames on your new elements for styling purposes.</p>

        </div><!-- end of resume-item -->

        <!-- another resume item -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Sir Putt-A-Lot's Merrie Olde Fun Centre</h3>
          <h4 class="resume-item-details" itemprop="description">Windmill Crank Operator &bull; Jun, 1978 &mdash; Sept, 1979</h4>
          <p class="resume-item-copy">If your stint was shorter, feel free to be brief and just call out the most meaningful points of your role. Be concise, and be meaninful. The person reading just needs enough to want to talk to you more about your experience.</p>

        </div><!-- end of resume-item -->

        <!-- by now you're getting the picture... -->
        <div class="resume-item" itemscope itemprop="worksFor" itemtype="http://schema.org/Organization">
          <h3 class="resume-item-title" itemprop="name">Simpson Lazer Tag</h3>
          <h4 class="resume-item-details" itemprop="description">Front Desk Attendant &bull; Jun, 1975 &mdash; May, 1978</h4>
          <p class="resume-item-copy">Boy, when Marge first told me she was going to the Police Academy, I thought it would be fun and exciting, you know, like the movie... Spaceballs. But instead, it's been painful and disturbing, like the movie Police Academy.</p>

        </div><!-- end of resume-item -->

      </section>
      <!-- end Experience -->
      {% endif %}

      {% if site.resume_section_education %}
      <!-- begin Education -->
      <section class="content-section">

        <header class="section-header">
          <h2>Education</h2>
        </header>

        <div class="resume-item" itemscope itemprop="alumniOf" itemtype="http://schema.org/CollegeOrUniversity">
          <h3 class="resume-item-title" itemprop="name">Springfield College</h3>
          <h4 class="resume-item-details" itemprop="description">Associates Degree, Business Management &bull; 1984 &mdash; 1986</h4>
          <p class="resume-item-copy">If you had any meaningful roles at college, feel free to write about them here.</p>
        </div>

      </section>
      <!-- end Education -->
      {% endif %}

      {% if site.resume_section_projects %}
      <!-- begin Projects -->
      <section class="content-section">

        <header class="section-header">
          <h2>Projects</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://donutlocator.io">donutfinder.io</a></h3>
          <h4 class="resume-item-details">Founder & Primary Developer &bull; 2012 &mdash; Present</h4>
          <p class="resume-item-copy">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Donut Eater's User Group</h3>
          <h4 class="resume-item-details">Co-Founder & Organizer &bull; 2007 &mdash; Present</h4>
          <p class="resume-item-copy">DEUG is a local monthly meetup in Springfield where we share all the latest tips and tricks for dat donut lifestyle. I organize the group, and typically eat most of the donuts.</p>
        </div>

      </section>
      <!-- end Projects -->
      {% endif %}

      {% if site.resume_section_skills %}
      <!-- begin Skills -->
      <section class="content-section">

        <header class="section-header">
          <h2>Skills</h2>
        </header>

        <div class="resume-item">
          <h4 class="resume-item-details">Donut design</h4>
          <p class="resume-item-copy">Sprinkle art, icing design, eclair management, taste testing, donut/coffee pairing research</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Craft beer brewing</h4>
          <p class="resume-item-copy">Hops inspection, brew testing, distribution management, bottle label design, festival and event management</p>
        </div>

        <div class="resume-item">
          <h4 class="resume-item-details">Family leadership</h4>
          <p class="resume-item-copy">Bread winning, conflict resolution, couch inspection, TV longevity testing</p>
        </div>

      </section>
      <!-- end Skills -->
      {% endif %}

      {% if site.resume_section_recognition %}
      <!-- begin Recognition -->
      <section class="content-section">

        <header class="section-header">
          <h2>Recognition</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Springfield Nuclear Power Plant</h3>
          <h4 class="resume-item-details">Outstanding Achievement &bull; 2010</h4>
          <p class="resume-item-copy">Awarded for stopping a nuclear meltdown, even though I also started it.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Duff Beer Customer of the year</h3>
          <h4 class="resume-item-details">1997 &mdash; 2001, 2003, 2008 &mdash; 2012</h4>
          <p class="resume-item-copy">Honored by <a href="https://en.wikipedia.org/wiki/Duff_Beer">Duff Beer</a> for being an outstanding customer several years straight. Qualifications included most beer consumed at a bar, most beer purchased, and most beer ralphed.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title" itemprop="award">Moe's Patron of the Month</h3>
          <h4 class="resume-item-details">12/2001, 8/2004</h4>
          <p class="resume-item-copy">Specifically this prestigious awarded twice for stopping a robber with my belly.</p>
        </div>

      </section>
      <!-- end Recognition -->
      {% endif %}

      {% if site.resume_section_associations %}
      <!-- begin Associations -->
      <section class="content-section">

        <header class="section-header">
          <h2>Associations</h2>
        </header>

        <div class="resume-item">
          <h3 class="resume-item-title"><a href="http://beerfortheworld.com">Beer for the World</a></h3>
          <h4 class="resume-item-details">Volunteer &bull; 2008 &mdash; Present</h4>
          <p class="resume-item-copy">Organized fund drives and participated in fundraising events for the benefit of families in third world countries without proper access to malt beverages.</p>
        </div>

        <div class="resume-item">
          <h3 class="resume-item-title">Springfield Nuclear Workers Labor Union</h3>
          <h4 class="resume-item-details">Member in Good Standin &bull; 1994 &mdash; Present</h4>
          <p class="resume-item-copy">Founding member of the local nuclear workers labor union.</p>
        </div>

      </section>
      <!-- end Associations -->
      {% endif %}

      {% if site.resume_section_links %}
      <!-- begin Links -->
      <section class="content-section">

        <header class="section-header">
          <h2>Additional Links</h2>
        </header>

        <div class="resume-item">
          <ul class="resume-item-list">
            <li><a href="#">Springfield Poker Club</a></li>
            <li><a href="#">Springfield Donut Eater's User Group</a></li>
          </ul>
        </div>

      </section>
      <!-- end Links -->
      {% endif %}

      <footer class="page-footer">
        <!-- <p class="footer-line">This template is made by <a href="http://twitter.com/jglovier">@jglovier</a>. Fork me on <a href="https://github.com/jglovier/resume-template">GitHub</a>.</p> -->
        <p class="footer-line">(C) 2016 Kanji Takahashi</p>
      </footer>

    </div>

  </body>

</html>
